/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*@import url('https://cpgreenduck.github.io/bionircsUBCcodes/parallax.css');*/

/* Frontpage-item styles*/
.frontpage-item{
	font-size:1em;
	font-family:sans-serif;
	width:100%;
	/*padding:20px;*/
	padding:0;
	min-width:600px;
	/*background-color:	#c2e3fc;*/
	background-color:#fff;
	/*margin-top:10px;*/
 	/*clear:both;*/
	height:auto;
   overflow:hidden;
	text-align:left;
	float:left;
	position:relative;
   
}
.frontpage-item.heading{
	min-height:30px;
	height:70px;
	padding:0 !important;
	margin:0 !important;
	-webkit-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
	background-color:transparent;
	min-width:300px;
}
.frontpage-item.heading:hover{
	-webkit-transform:scale(1.1);
	    -ms-transform:scale(1.1);
	        transform:scale(1.1);
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.frontpage-item.desc{
	padding:10px;
	min-height:50px;
}
.frontpage-item>h1, .frontpage-item>h2, .frontpage-item>h3{
  text-align:center;
  padding:0;
  margin:20px;
  font-weight:bolder;
  opacity:0.6;
}
.frontpage-item>h1{
	color:#000;
	font-size:40px;
}
.frontpage-item>h2{
	font-size:32px;
}
.frontpage-item>h3{
	color:#000;
	font-weight:normal;
}

/*Research item styles*/
.research-item{
	.aos-init;
	.aos-animate;
	width:100px;
	max-height:150px;
	/*height:120px;*/
	margin:10px;
	text-align:center;
	float:left;
	-webkit-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
	padding:0;
	z-index:100;
}

.research-item.aos-init.aos-animate:hover{
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	z-index:100;
}
.research-item img{
	width:70px;
	height:70px;
}
.research-item h4{
  margin-top:0;
  padding-top:0;
  color:#000;
  opacity:0.6;
}



/*Map styles*/

.map-div-overlay-full{
	position:absolute;
	width:100%;
	height:100%;
	opacity:1;
}

.map-div-overlay{
	position:relative;
	width:30%;
	height:90%;
	float:left;
	-webkit-transition:opacity 1s ease-out;
	-o-transition:opacity 1s ease-out;
	transition:opacity 1s ease-out;
	z-index:200;
	display:block;
}
.map-div-overlay:hover{
	-webkit-transition:opacity 1s ease-in;
	-o-transition:opacity 1s ease-in;
	transition:opacity 1s ease-in;
}
.map-div-overlay-fadein{
	opacity:0;
	position:absolute;
	background-color:rgba(255,255,255,0.8);
	width:100%;
	height:90%;
	-webkit-transition:opacity 1s ease-out;
	-o-transition:opacity 1s ease-out;
	transition:opacity 1s ease-out;
	padding:20px;
	border-radius:10px;
	overflow:hidden;
}
.map-div-overlay-fadein>img{
	max-width:70%;
	max-height:18%;
	clear:both;
	margin: 20px auto auto auto;
}
.map-div-overlay-fadein>a img{
	max-width:70%;
	max-height:18%;
	clear:both;
	margin: 20px auto auto auto;
}

.map-div-overlay:hover > .map-div-overlay-fadein{
	opacity:1;
	-webkit-transition:opacity 1s ease-in;
	-o-transition:opacity 1s ease-in;
	transition:opacity 1s ease-in;
}
.map-label{
	position:absolute;
	top:200px;
	text-align:center;
	opacity:0.6;
	width:100%
}
.map-label>h1{
	color:#000;
	font-size:40px;
}
