@import url('https://combinatronics.com/cpgreenduck/bionicsUBCcodes/master/parallax.css');
@import url('https://combinatronics.com/cpgreenduck/bionicsUBCcodes/master/styleslandpage.css');
@import url('https://combinatronics.com/cpgreenduck/bionicsUBCcodes/master/stylesnew.css');
@import url('https://combinatronics.com/cpgreenduck/bionicsUBCcodes/master/postManipStyles.css');
/*@import url('https://combinatronics.com/cpgreenduck/bionicsUBCcodes/master/people.css');*/
@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');

/*@import url('https://cpgreenduck.github.io/bionicsUBCcodes/styleslandpage.css');
@import url('https://cpgreenduck.github.io/bionicsUBCcodes/stylesnew.css');
@import url('https://cpgreenduck.github.io/bionicsUBCcodes/parallax.css');
@import url('https://cpgreenduck.github.io/bionicsUBCcodes/postManipStyles.css');*/
