/*Entire-Site*/
@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');
@import url('https://cpgreenduck.github.io/bionicsUBCcodes/postManipStyles.css');

/*Front-page*/
/*@import url('https://cpgreenduck.github.io/bionicsUBCcodes/stylesnew.css');
@import url('https://cpgreenduck.github.io/bionicsUBCcodes/styleslandpage.css');
@import url('https://cpgreenduck.github.io/bionicsUBCcodes/parallax.css');
@import url('https://cpgreenduck.github.io/bionicsUBCcodes/frontpage2.css');*/


/*People Page*/
/*@import url('https://cpgreenduck.github.io/bionicsUBCcodes/people.css');
@import url('https://cpgreenduck.github.io/bionicsUBCcodes/styleslandpage.css');
@import url('https://cpgreenduck.github.io/bionicsUBCcodes/frontpage2.css');*/






