/* Tiny reset thingy */
body,html{margin:0;padding:0;}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
 /* height: 100vh;*/
 /*height:1000px;*/
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  overflow-y:auto;
  /* Enable scrolling on the page. */
  /*overflow-y: auto;*/
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  /*height: 50vh;*/
  /*height:30vh;*/
  height:500px;
  
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;

}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  /*transform: translateZ(-1px) scale(1.5);*/
  background-attachment:fixed;
  /* Force the background image to fill the whole element. */
  background-size: 1500px;
  background-repeat:no-repeat;
  background-position: center;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

/* The styling for the static div. */
.static {
	height:auto;
	background-color:rgba(0,0,0,0);
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.section .bg1{
	height:300px;
}
.bg1::after {
  background-image: url('http://apsc-mm.sites.olt.ubc.ca/files/2020/04/spinalconnections3.png');
}

.bg2::after {

  background-image: url('http://apsc-mm.sites.olt.ubc.ca/files/2020/04/GEARBETTER.png');
}

.bg3::after{
	background-image:url('http://apsc-mm.sites.olt.ubc.ca/files/2020/05/simple-stylized-world-map-silhouette-in-modern-vector-25623233-e1588724533586.jpg');
	}
}
