.iso-nav{
 clear:both;
 }
/*.postCatHeadline{
  margin:10px;
  padding:10px;
  height:50px;
  width:350px;
  float:left;
}
*/

.page-id-1917 .excerpt, .page-id-1921 .excerpt{
  display:none;
}
.page-id-1917  .excerpt .principal-investigator, .page-id-1917 .excerpt .principal-investigator{
  display:block !important;
}
.date{
  display:none;
}
.header-tags{
  display:none !important;
}
.launch-btn{
  display:none;
}
.iso-title{
  font-size:20px;
}
.page-id-1917 .boxey-inside, .page-id-1921 .boxey-inside{
  height:250px;
}

.iso .simple .iso_shortcode{
  text-align:left;
  float:left;
}
.page-id-1917 .picture.field-item.one-third, .page-id-1921 .picture.field-item.one-third{
  width:200px !important;
  overflow:hidden;
  padding:10px;
}

/*.page-id-1917  .bio.field-item.full{
  display:none !important;
}*/

.field-shell.field-shell-multiple>span.text-input{
  float:left;
}
/*.field-shell.field-shell-multiple .field{
  float:left;
  margin:0 10px 0 10px;
}*/
.fn.n>a {
  pointer-events:none;
}
.modal-footer>a{
  display:none;
}

.page-id-1917 .span4>img, .page-id-1921 .span4>img{
  display:none;
}

.page-id-1917 .modal-body, .page-id-1921 .modal-body{
  overflow:hidden;
}


