.page-id-1450 .page-title.entry-title{
  display:none;
}
.postContainer{
	width:80%;
	margin:10px;
	padding:10px;
	display:block;
	height:auto;
	overflow:hidden;
	float:left;
	border-radius:10px;
	border:2px solid #c0c2c0;
}

.fadeclass{
	.aos_init;
	.aos_animate;
/*	float:left;
	margin:20px;
	background-color:#fff;
	position:relative;
	right:10px;
	clear:both;
	display:block;*/
	}

.postThumbnail{
	width:150px;
	padding:0px;
	height:100px;
	margin:5px;
	display:block;
	float:left;
	overflow:hidden;
}

.postContainer h3{
	padding-top:0;
	margin-top:0;
}

.postCatHeadline{
	cursor:pointer;
	height:30px;
	width:100%;
	position:relative;
}
.postCatHeadline.active h2{
  color:#2f6682;
}

.postCatContainer{
	position:relative;
	font-family:sans-serif;
	overflow:hidden;
	display:block;
	max-height:1px;
	opacity:0;
	transition: all 0.5s ease-out;
	float:none;
	clear:both;
	/*transform: translateX(-300px) translateY(-60px) scale(0.01);*/
}


.postCatContainer.expanded{
	max-height:1000px;
	opacity:1;

	transition: all 1s ease-in 0.5s;
	/*transform: translateX(0) translateY(0) scale(1);*/
}

.postCatNav{
  width:100%;
  display:block;
  height:70px;
}


