.entry-meta{
	display:none;
}
/*.post-byline{
	display:none;
}*/
.navigation-links .pager{
	display:none;
}
.page-id-1450 .page-title.entry-title{
  display:none;
}
.postContainer{
	width:80%;
	margin:10px;
	padding:10px;
	display:block;
	height:auto;
	overflow:hidden;
	float:left;
	border-radius:10px;
	border:2px solid #c0c2c0;
	max-height:400px;
}

.descriptionContainer{
	border-style:none;
}

.fadeclass{
	.aos_init;
	.aos_animate;
/*	float:left;
	margin:20px;
	background-color:#fff;
	position:relative;
	right:10px;
	clear:both;
	display:block;*/
	}

.postThumbnail{
	width:150px;
	padding:0px;
	height:100px;
	margin:5px;
	display:block;
	float:left;
	overflow:hidden;
}

.postContainer h3{
	padding-top:0;
	margin-top:0;
}
.postContainer a{
	font-weight:bold;
}

.postCatHeadline{
	cursor:pointer;
	min-height:60px;
	width:auto;
	max-width:300px;
	text-align:center;
	float:left;
	padding:20px;
	overflow:hidden;
	position:relative;
	transition: all 1s ease-in;
	background-image:url('http://apsc-bionics.sites.olt.ubc.ca/files/2020/05/popupbgL.png');
}
.postCatHeadline h2{
	line-height:30px;
	margin:0;
}
.postCatHeadline:hover{
	transform:scale(1.1) translateX(5px);
	transition: all 1s ease-out;
}
.postCatHeadline.active h2{
  color:	#c2e3fc;
  transform: scale(1.1) translateX(5px);
  
}

.postCatContainer{
	position:relative;
	font-family:sans-serif;
	overflow:hidden;
	display:block;
	height:1px;
	opacity:0;
	transition: all 0.5s ease-out;
	float:none;
	clear:both;
	/*transform: translateX(-300px) translateY(-60px) scale(0.01);*/
}


.postCatContainer.expanded{
	/*max-height:1000px;*/
	opacity:1;
	height:auto;

	transition: all 1s ease-in 0.5s;
	/*transform: translateX(0) translateY(0) scale(1);*/
}

.postCatNav{
  width:100%;
  display:block;
  height:auto;
}


