/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://cpgreenduck.github.io/bionicsUBCcodes/parallax.css');

/* Frontpage-item styles*/
.frontpage-item{
	font-size:1em;
	font-family:sans-serif;
	width:100%;
	padding:20px;
	min-width:600px;
	/*background-color:	#c2e3fc;*/
	background-color:#fff;
	/*margin-top:10px;*/
 	/*clear:both;*/
	height:auto;
   overflow:hidden;
	text-align:left;
	float:left;
	position:relative;       
}
.frontpage-item.heading{
	min-height:30px;
	height:70px;
	padding:0 !important;
	margin:0 !important;
	-webkit-transition:all 1s ease-out;
	-o-transition:all 1s ease-out;
	transition:all 1s ease-out;
	background-color:transparent;
	min-width:300px;
}
.frontpage-item.heading:hover{
	-webkit-transform:scale(1.1);
	    -ms-transform:scale(1.1);
	        transform:scale(1.1);
	-webkit-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}
.frontpage-item.desc{
	padding:10px;
	min-height:50px;
}
.frontpage-item>h1, .frontpage-item>h2, .frontpage-item>h3{
  text-align:center;
  padding:0;
  margin:20px;
  font-weight:bolder;
  opacity:0.6;
}
.frontpage-item>h1{
	color:#000;
	font-size:40px;
}
.frontpage-item>h2{
	font-size:32px;
}
.frontpage-item>h3{
	color:#000;
	font-weight:normal;
}

/*Research item styles*/
.research-item{
	.aos-init;
	.aos-animate;
	width:100px;
	max-height:150px;
	/*height:120px;*/
	margin:10px;
	text-align:center;
	float:left;
	-webkit-transition:all 1s ease-out;
	-o-transition:all 1s ease-out;
	transition:all 1s ease-out;
	padding:0;
	z-index:100;
}

.research-item.aos-init.aos-animate:hover{
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
	z-index:100;
}
.research-item img{
	width:70px;
	height:70px;
}
.research-item h4{
  margin-top:0;
  padding-top:0;
  color:#000;
  opacity:0.6;
}
