
p, h1, h2, h3, a{
	font-family:sans-serif;

	color:#185685;
	text-decoration:none;
}

a{
	color:#002145;
	}
.research-item h4{
  margin-top:0;
  padding-top:0;
}

.frontpage-item{
	font-size:1em;
	font-family:sans-serif;
	width:100%;
	padding:20px;
	min-height:100px;
	background-color:	#c2e3fc;
	/*margin-top:10px;*/
 	/*clear:both;*/
	height:auto;
  overflow:hidden;
  text-align:left;
  float:left;
  position:relative;
  	
        
}
.frontpage-item>h1, .frontpage-item>h2{
  text-align:center;
  font-size:1.2em;
  padding:0;
  margin:0;
}
.static_par_0ht{
	height:0px !important;
	width:100%;
	padding:0;
	margin:0;
}
#about{
	.aos-init;
	.aos-animate;
	top:130px;
	z-index:4;
	width:100%;
	border-style:solid;
	border-width:2px;
	background-color:#c2e3fc;
	border-radius:10px;
	border-color:#185685;
	padding:20px;
	padding-top:0px;
	padding-bottom:0px;
	opacity:0.9;
	font-size:1.1em;


}

#accomplish{
	text-align:center;
	justify-content:center;
	display:flex;
	flex-wrap:wrap;
}




#research-topics{
top:-300px;
background-color:rgba(255,255,255,0.7);
}

#partners{
	opacity:0.8;
	top:90px;
	transition: all 1s ease-out;
	z-index:1;
}
#partners:hover{
	background-color:#000;
	transition: all 1s ease-in;
	
}

#news{
  width:calc(50%-50px);
  margin:0;
}
#news .postContainer{
	.aos-init;
	.aos-animate;
}
#members{
  width:calc(50%-50px);
  margin:0;

}

#research-item-cont.centerdiv  {
	.aos-init;
	.aos-animate;
	animation: slide 1s ease;
	margin:auto;
	width:80%;
	positive:relative;
	overflow:hidden;
	align-items:center;
	text-align:center;
	justify-content:center;
	display:flex;
	flex-wrap:wrap;

}
.research-item{
	.aos-init;
	.aos-animate;
	width:120px;
	max-height:120px;
	/*height:120px;*/
	margin-left:10px;
	margin-top:20px;
	margin-bottom:20px;
	margin-right:10px;
	text-align:center;
	float:left;

	-webkit-transition:all 1s ease;
	padding:10px;
	z-index:5;

}
#accomplish .research-item{
	width:250px;
	margin:20px;
	

}
.research-item:hover{
	transform:scale(1.1);
	-webkit-transition: all 1s ease;
		z-index:100;
}

.research-item img{
	width:80px;
	height:80px;
}

#accomplish .research-item:hover{
	transform:scale(1.1);
	-webkit-transition: all 1s ease;
}
#citations{
	background-image:url("http://apsc-mm.sites.olt.ubc.ca/files/2020/05/simple-stylized-world-map-silhouette-in-modern-vector-25623233-e1588724533586.jpg");
}

#funding{
	background-image:url("http://apsc-mm.sites.olt.ubc.ca/files/2020/05/simple-stylized-world-map-silhouette-in-modern-vector-25623233-e1588724533586.jpg");
}
#partnersr{
	background-image:url("http://apsc-mm.sites.olt.ubc.ca/files/2020/05/simple-stylized-world-map-silhouette-in-modern-vector-25623233-e1588724533586.jpg");
}
	
