@import url('https://cpgreenduck.github.io/bionicsUBCcodes/parallax.css');

/* Frontpage-item styles*/
.frontpage-item{
	font-size:1em;
	font-family:sans-serif;
	width:100%;
	padding:20px;
	min-width:600px;
	/*background-color:	#c2e3fc;*/
	background-color:#fff;
	/*margin-top:10px;*/
 	/*clear:both;*/
	height:auto;
   overflow:hidden;
	text-align:left;
	float:left;
	position:relative;       
}
.frontpage-item.heading{
	min-height:30px;
	height:70px;
	padding:0 !important;
	margin:0 !important;
	-webkit-transition:all 1s ease-out;
	background-color:transparent;
	min-width:300px;
}
.frontpage-item.heading:hover{
	transform:scale(1.1);
	-webkit-transition: all 1s ease-in;
}
.frontpage-item.desc{
	padding:10px;
	min-height:50px;
}
.frontpage-item>h1, .frontpage-item>h2, .frontpage-item>h3{
  text-align:center;
  padding:0;
  margin:20px;
  font-weight:bolder;
  opacity:0.6;
}
.frontpage-item>h1{
	color:#000;
	font-size:40px;
}
.frontpage-item>h2{
	font-size:32px;
}
.frontpage-item>h3{
	color:#000;
	font-weight:normal;
}

/*Research item styles*/
.research-item{
	.aos-init;
	.aos-animate;
	width:100px;
	max-height:150px;
	/*height:120px;*/
	margin:10px;
	text-align:center;
	float:left;
	transform:scale(1);
	-webkit-transition:all 1s ease-out;
	padding:0;
	z-index:100;
}

.research-item.aos-init.aos-animate{
	transform: scale(1.1);
	-webkit-transition: all 1s ease-in;
	z-index:100;
}
.research-item img{
	width:70px;
	height:70px;
}
.research-item h4{
  margin-top:0;
  padding-top:0;
  color:#000;
  opacity:0.6;
}


/* Only for version 1 of home page
#citations{
	background-image:url("http://apsc-mm.sites.olt.ubc.ca/files/2020/05/simple-stylized-world-map-silhouette-in-modern-vector-25623233-e1588724533586.jpg");
}
#funding{
	background-image:url("http://apsc-mm.sites.olt.ubc.ca/files/2020/05/simple-stylized-world-map-silhouette-in-modern-vector-25623233-e1588724533586.jpg");
}
#partnersr{
	background-image:url("http://apsc-mm.sites.olt.ubc.ca/files/2020/05/simple-stylized-world-map-silhouette-in-modern-vector-25623233-e1588724533586.jpg");
}
	
#research-topics{
top:-300px;
background-color:rgba(255,255,255,0.7);
}
#partners{
	opacity:0.8;
	top:90px;
	transition: all 1s ease-out;
	z-index:1;
}
#partners:hover{
	background-color:#000;
	transition: all 1s ease-in;
}
#news, #members{
  margin:0;
  min-width:10px;
 /* max-height:700px;
  overflow:hidden;
  background-color:#fff;
}
#news{
	width: calc(66% - 40px);
}
#members{
	width: calc(34% - 40px);
}
#news .postContainer{
	.aos-init;
	.aos-animate;
	max-height:200px;
}
/*end old version*/





